# IDE
notebook
jupyter_contrib_nbextensions

# Report Generating
pandas-profiling

# Data Handling
numpy
pandas

# Visualization
matplotlib
seaborn
plotly

# Transformations
scikit-learn

# Models
catboost
xgboost

# File handling
dill
yaml
python-dotenv

# Web
django

# Custom
-e .